
.flash-box
.wrapper
  .chat-side
    .side-header
      .side-header__box
        %p.side-header__box__user-name
          = current_user.name
        %ul.side-header__box__menu
          %li.side-header__box__menu__edit-user
            = link_to do
              = fa_icon 'pencil-square-o', class: 'icon'
          %li.side-header__box__menu__new-group
            = link_to edit_user_path(current_user) do
              = fa_icon 'cog', class: 'icon'
    .groups
      %a
        .group
          %p.group__group-name firstchat
          %p.group__latest-message まだメッセージがありません
      %a
        .group
          %p.group__group-name tech::camp
          %p.group__latest-message 楽しいいい
      %a
        .group
          %p.group__group-name firstchat
          %p.group__latest-message まだメッセージがありません
      %a
        .group
          %p.group__group-name tech::camp
          %p.group__latest-message 楽しいいい
      %a
        .group
          %p.group__group-name firstchat
          %p.group__latest-message まだメッセージがありません
      %a
        .group
          %p.group__group-name tech::camp
          %p.group__latest-message 楽しいいい
      %a
        .group
          %p.group__group-name firstchat
          %p.group__latest-message まだメッセージがありません
      %a
        .group
          %p.group__group-name tech::camp
          %p.group__latest-message 楽しいいい
      %a
        .group
          %p.group__group-name firstchat
          %p.group__latest-message まだメッセージがありません
      %a
        .group
          %p.group__group-name tech::camp
          %p.group__latest-message 楽しいいい
      %a
        .group
          %p.group__group-name firstchat
          %p.group__latest-message まだメッセージがありません
      %a
        .group
          %p.group__group-name tech::camp
          %p.group__latest-message 楽しいいい
  .chat-main
    .main-header
      .main-header__left-box
        %h2.main-header__left-box__current-group{"data-group_id" => "644"}
          tech::camp
        %ul.main-header__left-box__member-list
          Member：
          %li.main-header__left-box__member-list__member aaa
          %li.main-header__left-box__member-list__member bbb
          %li.main-header__left-box__member-list__member ccc
      %a
        .main-header__edit-btn Edit
    .messages
      .message{"data-message_id" => "1460"}
        .message__upper-info
          %p.message__upper-info__talker aaa
          %p.message__upper-info__date 2019/03/08(Fri) 17:15:10
        %p.message__text 楽しいいい
      .message{"data-message_id" => "1980"}
        .message__upper-info
          %p.message__upper-info__talker bbb
          %p.message__upper-info__date 2019/03/18(Mon) 21:19:45
        %p.message__text bbbです
      .message{"data-message_id" => "1981"}
        .message__upper-info
          %p.message__upper-info__talker ccc
          %p.message__upper-info__date 2019/03/18(Mon) 21:19:49
        %p.message__text cccです
      .message{"data-message_id" => "1981"}
        .message__upper-info
          %p.message__upper-info__talker ccc
          %p.message__upper-info__date 2019/03/18(Mon) 21:19:49
        %p.message__text cccです
      .message{"data-message_id" => "1981"}
        .message__upper-info
          %p.message__upper-info__talker ccc
          %p.message__upper-info__date 2019/03/18(Mon) 21:19:49
        %p.message__text cccです
      .message{"data-message_id" => "1981"}
        .message__upper-info
          %p.message__upper-info__talker ccc
          %p.message__upper-info__date 2019/03/18(Mon) 21:19:49
        %p.message__text cccです
      .message{"data-message_id" => "1981"}
        .message__upper-info
          %p.message__upper-info__talker ccc
          %p.message__upper-info__date 2019/03/18(Mon) 21:19:49
        %p.message__text cccです
      .message{"data-message_id" => "1981"}
        .message__upper-info
          %p.message__upper-info__talker ccc
          %p.message__upper-info__date 2019/03/18(Mon) 21:19:49
        %p.message__text cccです

    .form
      %form#new_message.new_message{"accept-charset" => "UTF-8", :action => "/groups/644/messages", :enctype => "multipart/form-data", :method => "post"}
        %input{:name => "utf8", :type => "hidden", :value => "✓"}/
        %input{:name => "authenticity_token", :type => "hidden", :value => "s21nfwcYP9O9SgPJxu4MKK7v9d3x1w0mlyYBpHnBg99/yjpOT08cjLoDXM5QYv10/DIBSJh/sfpe6QfY/29T1Q=="}/
        .input-box
          %input#message_content.input-box__text{:name => "message[content]", :placeholder => "type a message", :type => "text"}/
          %label.input-box__image{:for => "message_image"}
            %i.fa.fa-image
            %input#message_image.input-box__image__file{:name => "message[image]", :type => "file"}/
        %input.submit-btn{"data-disable-with" => "Send", :name => "commit", :type => "submit", :value => "Send"}/
